{% extends "base.html" %}

{% block content %}
<h3 style='color: rgb(0, 0, 0);font-size: 30px;'>Season Simulator</h3>
<div class="message_holder"></div>

<form action="" method="POST">
  <h5>Choose a league to simulate</h5>
  <button class="requestSimulation" type="button" name="league" value="premier-league">Premier League</button>
  <button class="requestSimulation" type="button" name="league" value="championship">Championship</button>
  <button class="requestSimulation" type="button" name="league" value="league-1">League 1</button>
  <button class="requestSimulation" type="button" name="league" value="league-2">League 2</button>
  <button class="requestSimulation" type="button" name="league" value="national-conference">National Conference</button>

  <table class="table table-dark">
    <thead>
      <tr>
        <th>Position</th>
        <th>Team</th>
        <th>Played</th>
        <th>Won</th>
        <th>Lost</th>
        <th>Drew</th>
        <th>Goals Scored</th>
        <th>Goals Conceded</th>
        <th>Goals Difference</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody id="Leaguetable">

    </tbody>
  </table>
  <p>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      League Statistics
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      print("highest scorer is"+ )
    </div>
  </div>

</form>
{% endblock content %}
{% block extra_scripts %}
<script type="text/javascript">
  $(".requestSimulation").click(function() {
    const league = $(this).attr('value')
    $.ajax({
      url: "/season_maker",
      type: "POST",
      data: {
        league: league
      },
      dataType: "json",
      success: (resp) => {
        console.log(resp)
        $("#Leaguetable").empty()
        resp.table.forEach(element => {
          tr = $("<tr>")
          tr.append(`<td>${element.position}</td>`)
          tr.append(`<td>${element.name}</td>`)
          tr.append(`<td>${element.games_played}</td>`)
          tr.append(`<td>${element.won}</td>`)
          tr.append(`<td>${element.lost}</td>`)
          tr.append(`<td>${element.draw}</td>`)
          tr.append(`<td>${element.goals_for}</td>`)
          tr.append(`<td>${element.goals_against}</td>`)
          tr.append(`<td>${element.goal_difference}</td>`)
          tr.append(`<td>${element.points}</td>`)
          $("#Leaguetable").append(tr)
        });
      }
    })
  })
</script>
{% endblock extra_scripts %}